.Task {
  @include flexColumn;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  border: 1px solid $border-primary;
  background-color: $bg-primary;
  cursor: pointer;
  transition: opacity 0.2s;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    .TaskActions {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  &--selected,
  &:hover {
    border: 1px solid $btn-primary-hov;
    transition: all 0.3s;
  }

  &--selected {
    background-color: #e9f1fe;
  }

  &__header {
    position: relative;
  }

  &__name {
    @include fontMediumInter(1rem, 1.5rem);

    &--complete {
      text-decoration: line-through;
    }
  }
}
