.TaskActions {
  position: absolute;
  top: -0.025rem;
  right: -0.025rem;
  background-color: $bg-primary;
  border-radius: 10px;
  z-index: 2;

  @include flexRow;
  align-items: center;
  gap: 0.1rem;
  border: 1px solid $border-primary;
  padding: 0.15rem 0.25rem;
  box-sizing: border-box;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-2px);
  transition: opacity 0.15s ease, transform 0.15s ease;
}