.Board {
  @include flexColumn;
  width: 100%;
  padding: 0.75rem 1rem;
  gap: 1rem;

  &__content {
    @include flexRow;
    gap: 0.5rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    flex: 1;
  }
}