.Board {
  @include flexColumn;
  width: 100%;
  padding: 0.75rem 1rem 0 1rem;
  height: 100%;

  &__content {
    @include flexRow;
    overflow-x: auto;
    padding: 1rem;
    flex: 1;
  }

  &__list {
    @include flexRow;
    padding: 1rem 0;
    gap: 1rem;
  }
}