.Column {
  min-width: 16.5rem;
  max-width: 16.5rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
  box-sizing: border-box;
  border-radius: 10px;
  @include flexColumn;
  gap: 0.5rem;
  height: fit-content;
  max-height: 100%;
  transition: opacity 0.2s;
  position: relative;

  &__body {
    @include flexColumn;
    gap: 0.5rem;
    overflow-y: auto;
    padding-right: 0.5rem;
    
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 6px;
      transition: background-color 0.2s ease;
    }
  }

  &:hover {
    .Column__body {
      scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__tasks {
    @include flexColumn;
    gap: 0.25rem;
  }
}
