.TaskCheckIcon {
  border: 1px dashed $text-secondary;
  border-radius: 50%;
  padding: 0.125rem;
  z-index: 2;

  &>svg {
    opacity: 0;
  }

  &--completed,
  &:hover {
    border: 1px solid $border-success;
    background-color: $bg-success;
    transition: all 0.3s;

    &>svg {
      transition: all 0.3s;

      &>path {
        stroke: $border-success;
      }
    }
  }

  &--completed {
    &>svg {
      opacity: 1;
    }
  }
}