.ColumnHeader {
  @include flexRow;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;

  &__info {
    @include flexRow;
    align-items: center;
    gap: 0.5rem;
    max-width: 80%;
  }

  &__title {
    @include fontSemiBoldInter(1rem, 1.5rem);
  
    padding: 0.25rem 0.5rem ;
    border-radius: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__tasks-count {
    @include fontSemiBoldInter(1rem, 1.5rem);
  }
}